<div id="category-wrapper" class="col-xs-12 padd0">
    <div id="category-slider" class="col-xs-12 bg2" style="height:200px"></div>
    <div class="clear"></div>
	<div class="col-xs-12" >
	    <div class="bdy-ctgr-list col-xs-12 padd0" style="margin-bottom:40px; height:500px">
        
        	<!--ko if:$root.category.PageName() == "Category"-->
            <!--ko with:$root.category.detail.category-->
	    	<div class="col-xs-12">
            	<h1 class="clr1" data-bind="text:name">Category Name</h1>
                <div class="col-xs-12 txt14" data-bind="text:description">Category Description</div>
            </div>
            <div class="col-xs-8">
            	<ul class="ctgr-dtl">
                	<!--ko foreach:products-->
                	<li class="curpo" data-bind="click:function(data, event){$root.category.navigate('Products', data);}">
                    	<div class="img">
                        	<img data-bind="attr:{src:images()!='default'?
                            'webresources/file_upload/sample/'+images():'webresources/style/images/default.png'}">
                        </div>
                        <div class="clear txt" data-bind="text:name"></div>
                    </li>
                    <!--/ko-->
                </ul>
            </div>
            <!--/ko-->
            <!--/ko-->
            
            <!--ko if:$root.category.PageName() == "Products"-->
            <!--ko with:$root.category.detail.product-->
            <div class="col-xs-8 ">
            	<h1 class="clr1" data-bind="text:name">Product Name</h1>
                <div class="col-xs-12 padd0">
                	<div class="col-xs-6" style="overflow:hidden">
                    	<img data-bind="attr:{src:images()!='default'?
                            'webresources/file_upload/sample/'+images():
                            'webresources/style/images/default.png'}" width="" >
                    </div>
                    <div class="col-xs-6">
                    	<div class="clear fltlft txt18">Available</div>
                        <div class="clear fltlft txt14" data-bind="text:atp" ></div>
                    	<div class="clear fltlft txt18">Unit Price</div>
                        <div class="clear fltlft txt14" data-bind="text:unitPrice"></div>
                    	<div class="clear fltlft txt18">Description</div>
                        <div class="clear fltlft txt14" data-bind="text:description"></div>
                        <!-- ko if:$root.accountStatus -->
                        <!-- ko ifnot:$root.account_detail.detail.accountType() == "Sale Products" && parseInt(atp()) == 0 -->
                        <!-- ko ifnot:parseInt(atp()) == 0 -->
                        <div class="clear fltlft btn btn-warning btn-xs" 
                        data-bind="click:function(data,event){$root.category.order.addToCart();}">
                        	<div class="fltlft icon icon-cart-add"></div>
                            <div class="fltlft padd5 clr5">Add To Cart</div>
                        </div>
                        <!-- ko ifnot:$root.category.onWishList -->
                        <div class="fltlft btn btn-success btn-xs" style="margin-left:5px;"
                        data-bind="click:function(data,event){$root.account_detail.myWishList.manageWishList('CreateNewWishList', $root.category.detail.product);}">
                        	<div class="fltlft icon icon-cart-add"></div>
                            <div class="fltlft padd5 clr5">Add To Wish List</div>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if:parseInt(atp()) == 0 -->
                        <div class="clear alert alert-danger" style="padding:10px;">
                        There are no more products available at this moment.
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        
                        
                        <!-- ko if:$root.account_detail.detail.accountType() == "Sale Products" -->
                        <div class="clear alert alert-danger" style="padding:10px;">
                        You can only sale with this type of account.
                        Create account that allows you to purchase 
                        products or both sale and purchase.
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        
                        <!-- ko ifnot:$root.accountStatus -->
                        <div class="clear fltlft btn btn-warning btn-xs" 
                        data-bind="click:function(data, event){$root.navigate('SignIn');}">
                        	<div class="fltlft icon icon-cart-add"></div>
                            <div class="fltlft padd5 clr5">Add To Cart</div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="col-xs-8 ">
                	<div class="list-group">
						<!-- ko foreach:productReviews -->
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading" data-bind="text:account.name">Product Name</h4>
							<p class="list-group-item-text" data-bind="text:comment">
							</p>
						</a>
						<!-- /ko -->
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
                </div>
                <!-- ko if:$root.accountStatus() -->
            	<div class="col-xs-12">
            		<div id="prd_frm_category" class="form-group">
						<label class="control-label" for="inputCategory">Product Comment</label> 
						<textarea class="form-control" id="prd_comment" 
						data-bind="textInput:$root.category.product.review"></textarea>
					</div>
					<button type="submit" class="btn btn-info"
					data-bind="click:function(data,type){$root.category.product.sendReview();}">
					Send Review</button>
					<div class="clear"></div>
            	</div>
            	<!-- /ko -->
            	<div class="clear"></div>
            </div>
            <div class="clear"></div>
            <!--/ko-->
            <!--/ko-->
            
            <div class="col-xs-4 paddtb20">
				<div class="list-group">
					<!-- ko if:$root.category.order.cart().length == 0 -->
					<!-- ko if:$root.category.order.orderStatus() == true -->
					<div class="alert alert-info" style="padding:10px;">
                       You have successfully sent your order. Thank you for your order.
                      </div>
                     <!-- /ko -->
					<!-- /ko -->
					<!-- ko ifnot:$root.category.order.cart().length == 0 -->
					<a href="#" class="list-group-item active">
						<h4 class="list-group-item-heading">Your Purchase Order</h4>
					</a>
					<!-- ko foreach:$root.category.order.cart -->
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading" data-bind="text:productName">Product Name</h4>
						<p class="list-group-item-text" >
							<strong>Unit Price : </strong><span data-bind="text:unitPrice"></span>
							<strong> Quantity : </strong><span data-bind="text:quantity"></span>
							<strong> Total : </strong><span data-bind="text:total"></span>
						</p>
						<p class="list-group-item-text" >
							<button class="btn btn-link btn-xs">Remove</button>
						</p>
					</a>
					<!-- /ko -->
					<!-- ko with:$root.category.order.orderDetail-->
					<a href="#" class="list-group-item list-group-item-danger">
						<p class="list-group-item-text" >
							<strong>Shipping : </strong><span data-bind="text:shipping"></span><br>
							<strong> Tax : </strong><span data-bind="text:tax()+'%'"></span><br>
							<strong> Total : </strong><span data-bind="text:total"></span>
						</p>
						<p class="list-group-item-text" >
							<button class="btn btn-warning btn-xs" 
							data-bind="click:function(data,event){}">
							Clean Cart</button>
							
							<button class="btn btn-danger btn-xs" 
							data-bind="click:function(data,event){$root.category.order.sendOrder();}">
							Make Checkout</button>
						</p>
					</a>
					<!-- /ko -->
					<!-- /ko -->
				</div>
				<div class="clear"></div>
			</div>
	        <div class="clear"></div>
	    </div>
	    <div class="clear col-xs-12"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>